@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;

}


a {
    text-decoration: none
}

#image-area{
    display: flex;
    
}

#image_link{
    width: 50%;
    height: 70%;
}

#text{
    font-size: 20px;
}