@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;

}


a {
    text-decoration: none;
    color: black;
}

/* HEADER */
header{
    height: 50px;
    background-color: black;
}

#l_link{
    color: white;
    /* margin: 20px; */
    position: relative;
    top: 12px;
    left: 20px;
    padding-left: 20px;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


ul>li>#title{
    color: white;
    background-color: #146C94;
    padding: 10px 15px;
    /* border-bottom: 1px solid black; */
}

ul>li>#name{
    background-color: #19A7CE;
    color: white;
    padding: 10px 15px;
    /* border-bottom: 1px solid black; */
    /* width: 100%; */

}
#container{
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: space-around; */
    /* width: 100px; */
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(33%, 1fr)); */
}

#content{
    width: 95%;
    height: 180px;
    overflow: auto;
    
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* border: 1px solid black; */
}

#file_name{
    height: 25px;
    /* overflow: auto; */
}

ul{
    margin: 20px;
    display: grid;
    height: 320px;
    margin-bottom: 100px;
    background-color: #F6F1F1;
}

li>input{
    width: 100%;
    border: none;
}

/* FOOTER */
footer{
    height: 50px;
    margin-top: 100px;
    border-top: 1px solid #c3c0c0;
    padding-top: 20px;
    text-align: center;
}