{% load static %} 
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/grid.css' %}">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body> 
    <h2>게시판</h2>
    <form method="POST" action="api/v1/boards/" enctype="multipart/form-data">
        {%csrf_token%}
        <input type="text" id="title" name="title" placeholder="title">
        <textarea id="content" name="content"></textarea>
        <input type="file" id="file" name="file" accept="image/png, image/jpg,  image/jpeg, image/gif">
        <input type="submit">
    </form>
    
</body>
</html>