{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'style/form.css' %}"> -->
    <link rel="stylesheet" href="{% static 'style/board_form.css' %}">
    <script src="{% static 'script/csrf.js' %}"></script>
    <title>board</title>
</head>
{% include 'header.html' %}
<body>
    <div id="board-contents">
        <input type="text" id="title" name="title" readonly>
        <p type="text" id="username"></p>
        <textarea id="content" name="content" readonly></textarea>
        <!-- <div id="image-container">
            <img id="file" name="file" src="">
        </div> -->
        <input type="datetime" id="created_at" readonly>
        <input type="datetime" id="modefied_at" readonly>
        
        <!-- <input type="text" id="image_link" name="image_link" readonly> -->
        

        <input type="checkbox" id="lang" name="lang" value="kor">kor
        <input type="checkbox" id="lang" name="lang" value="eng">eng
        <input type="checkbox" id="lang" name="lang" value="fra">fra
        <input type="checkbox" id="lang" name="lang" value="jpn">jpn

        <button id="chkBtn">이미지 텍스트로 변환하기</button>

        <div id="image-area">
            <img src="" name="image_link" id="image_link">
            <div>
                <p id="text"></p>
            </div>
        </div>

    </div>
    <script src="{% static 'script/board-api.js' %}"></script>
</body>
{% include 'footer.html' %}
</html>