{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/grid.css' %}">
    <title>Document</title>
</head>
{% include 'header.html' %}
<body>
    <form method="post" action="/api/v1/users/login">
        {% csrf_token %}
        <input type="text" id="id" name="username" placeholder="ID">
        <input type="text" id="password" name="password" placeholder="PW">
        <button>로그인</button>
    </form>
</body>
{% include 'footer.html' %}
</html>